body{
    font-family: 'Lucida Grande',  sans-serif;
    margin-left: 0px;
    margin-right : 1000px;
    background-color: rgba(155, 99, 16, 0.63);
}
h1{
    font-family: fantasy, sans-serif;
    color: rgb(37, 18, 35);
    
}
h3{
    color: rgb(35, 14, 219) ;
    text-decoration: underline;
}
img{
    width: 100px;
    height: 60px;

}